html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
}

i {
	display: inline-block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 2px;
}